<div class="container-new">
    <h1>Nueva Publicación</h1>

    <%= render 'form' %>
</div>

    <%= link_to karina_photos_path, class: "back-link" do %>
    <i class="fas fa-arrow-left"></i> Volver
    <% end %>
