<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <div class="about-card shadow-lg">
            <div class="about-card-body">
            <h2 class="about-card-title">Acerca de Mi: Descubriendo la Pasión por la Vida y la Inspiración</h2>
            <p class="about-card-text">¡Hola y bienvenidos a mi espacio! Soy Karina, una buscadora de belleza en todos los rincones de la vida. Mi viaje personal me ha llevado a apreciar las pequeñas maravillas que nos rodean y a descubrir la profundidad de las conexiones humanas y naturales.</p>
            <p class="about-card-text">Desde temprana edad, me di cuenta de que cada momento tiene su propia historia que contar, cada imagen captura una emoción única y cada encuentro puede iluminar el camino de alguien más. Con una cámara en mano, he encontrado mi voz para expresar la alegría, la paz y la reflexión que experimento en este mundo vibrante y diverso.</p>
            <p class="about-card-text">Te invito a unirte a este viaje de exploración visual y emocional mientras capturamos la esencia de la vida en sus momentos más auténticos. ¡Gracias por acompañarme en esta búsqueda de la inspiración y la pasión!</p>
            </div>
        </div>
        </div>
    </div>
</div>

